.custom-navbar .navbar-nav>li>a:hover,
.custom-navbar .navbar-nav>li>a:focus,
.nav li a.active,
.custom-navbar .nav li.active>a,
.special,
#home h1 span,
#about h2,
.btn-about:hover,
#hire-me a:hover,
#contact input[type=submit]:hover,
.name {
    color: #E5E4E2;
}

#home a,
.btn-about {
    background-color: #111111;
    border: 1px solid #111111;
}

#home a:hover,
#home a:focus {
    color: :#778899;
    border: 1px solid :#778899;
}

.feature:hover,
#hire-me a,
#contact input[type=submit],
#contact .info:hover {
    background-color: #111111;
}

figure.effect {
    background: #111111;
}

#contact input:focus,
#contact textarea:focus {
    -webkit-box-shadow: 0 0 7px #111111;
    box-shadow: 0 0 7px #111111;
}

#footer .social-media a:hover {
    color: #111111;
    background-color: #111111;
}

@media only screen and (max-width: 768px) {
    /* Nav */
    .custom-navbar .navbar-toggle .icon-bar {
        color: #111111;
        background-color: #111111;
    }
}
#large-header{
    background-image: url("../img/black_universe.jpg");
}
.scroll{
    background-color:#111111;
}
.option:hover {
    background-color:#111111;
}