.custom-navbar .navbar-nav>li>a:hover,
.custom-navbar .navbar-nav>li>a:focus,
.nav li a.active,
.custom-navbar .nav li.active>a,
.special,
#home h1 span,
#about h2,
.btn-about:hover,
#contact input[type=submit]:hover,
.name {
    color: silver;
}

#home a,
.btn-about {
    background-color: #006400;
    border: 1px solid #006400;
}

#about h2 {
    color: #006400;
    font-weight: bold;
}

#services h2 {
    color: #006400;
    font-weight: bold;
}

#portfolio h2 {
    color: #006400;
    font-weight: bold;
}

#clients h2 {
    color: #006400;
    font-weight: bold;
}

#home p {
    float: right;
}

#home h1 {
    float: right;
}

#home p span {
    color: #006400;
    font-weight: bold;
}

#home h1 span {
    color: #006400;
    font-weight: bold;
}

#home .container a {
    position: absolute;
    right: 8%;
    bottom: 25%;
}

#home a:hover,
#home a:focus {
    color: #228b22;
    border: 1px solid #228b22;
}

.feature:hover,
#contact input[type=submit],
#contact .info:hover {
    background-color: #228b22;
}

#contact input:focus,
#contact textarea:focus {
    -webkit-box-shadow: 0 0 7px #228b22;
    box-shadow: 0 0 7px #228b22;
}

#footer .social-media a:hover {
    color: #228b22;
    background-color: #228b22;
}

#large-header {
    background-image: url("../img/green_universe.jpg");
}

.scroll {
    background-color: #228b22;
}

.option:hover {
    background-color: #228b22;
}

@media only screen and (max-width: 768px) {
    /* Nav */
    .custom-navbar .navbar-toggle .icon-bar {
        color: #228b22;
        background-color: #228b22;
    }
}