<section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 wow fadeInLeft" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        <img class="img-responsive" alt="profile picture" src="img/profile_default.jpg">
                    </div>
                    <div class="col-md-8 wow fadeInRight" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInRight;">
                        <h2>Ovidiu Istrate</h2>
                        <h3>Web Developer </h3>
                        <h3>.NET Software Engineer</h3>
                        <p class="lead">
                            <span>I'm A .NET Software Engineer. I Enjoy Writing Software. I have More Than Three Years Experience In This field.</span>
                            whereas multidisciplinary intellectual capital. Distinctively synergize market-driven master and prospective channels. Dramatically drive an expanded array of expertise with modern technology. Completely cultivate standardized manufactured.
                            Continually transform process-centric systems rather than compelling growth strategies. Energistically streamline low-risk high-yield supply chains via scalable intellectual capital. <!-- some info about yourself -->
                        </p>
                        <a href="#" class="btn btn-about">Download CV</a> <!-- Download Cv button -->
                    </div>
                </div>
            </div>
        </section>