<section id="about">
    <div class="container">
        <div class="row">
            <h2>About me:</h2>
            <div class="col-md-6 wow fadeInLeft" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft; margin-top:40px">
                <img class="img-responsive" id="profile_pic">
            </div>
            <div class="col-md-6 wow fadeInRight" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInRight;">
                <p class="lead">
                    I'm a guy in his early twenties, I live in Cluj-Napoca, Romania, the town also known as the "Hearth of Transylvania". I enjoy travelling, reading and last but not least codding. I have more than three years experience in software development. Obtained
                    a bachelor's degree in CS from Cluj-Napoca's Babes Bolyai University. I've started my software developer career in 2014 at <a class="ll-link" href="http://www.luminoslabs.com"> Luminos Labs(LL)</a>, a really friendly
                    software company located in Cluj-Napoca and Venice Beach(LA).
                </p>
                <a href="../docs/ovidiu_istrate_cv.docx" class="btn btn-about">Download CV</a>
            </div>
        </div>
    </div>
</section>