<section id="about">
    <div class="container">
        <div class="row">
            <h2>About me:</h2>
            <div class="col-md-6 wow fadeInLeft" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft; margin-top:40px">
                <img class="img-responsive" id="profile_pic">
            </div>
            <div class="col-md-6 wow fadeInRight" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInRight;">
                <p class="lead">
                    I'm a guy in his early twenties, I live in Cluj-Napoca, in my opinion the ideal of Romania. I enjoy travelling, reading, partying and last but not least building software. Now I'm working as a .NET Software Engineer. I'm really passionate about my work,
                    I have more than three years experience in software development. I have a bachelor's degree in computer science from Cluj-Napoca's Babes Bolyai University, Faculty of Computer Science. Currently I'm in progress with my Master's Degree
                    which is also focused in the field of Computer Science, yep I think it will take a while to finish this one :). I've started my software developer career in 2014 at <a class="ll-link" href="http://www.luminoslabs.com"> Luminos Labs(LL)</a>,
                    a really friendly software company located in Cluj-Napoca and Venice(LA) in which you can develop your skills and offer good quality services. More information related to my work, experience and the services I'm able to offer can be
                    found in the attached
                    <strong>Curriculum Vitae</strong>
                </p>
                <a href="../docs/ovidiu_istrate_cv.docx" class="btn btn-about">Download</a>
            </div>
        </div>
    </div>
</section>