<section id="clients">
    <div class="container text-center">
        <h2>Clients</h2>
        <!-- Edit Section Title -->
        <p class="sub-title">
            These are some of the clients I've worked with as a Software Developer at Luminos Labs:
            <!-- Edit -->
        </p>
        <div class="row wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
            <!-- Single Service -->
            <div class="col-md-3 col-sm-6">
                <div class="feature">
                    <img src="img/mid-atlantic.png" alt="">
                </div>
            </div>
            <!-- Single Service -->
            <div class="col-md-3 col-sm-6">
                <div class="feature">
                    <i class="fa fa-code fa-5x" aria-hidden="true"></i>
                    <h3>Web Develop</h3>
                    <!-- Edit Title -->
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                    <!-- Edit description -->
                </div>
            </div>
            <!-- Single Service -->
            <div class="col-md-3 col-sm-6">
                <div class="feature">
                    <i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i>
                    <h3>Well Documented</h3>
                    <!-- Edit Title -->
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                    <!-- Edit description -->
                </div>
            </div>
            <!-- Single Service -->
            <div class="col-md-3 col-sm-6">
                <div class="feature">
                    <i class="fa fa-eye fa-5x" aria-hidden="true"></i>
                    <h3>Awesome Display</h3>
                    <!-- Edit Title -->
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                    <!-- Edit description -->
                </div>
            </div>
            <!-- Single Service -->
            <div class="col-md-3 col-sm-6">
                <div class="feature">
                    <i class="fa fa-check-circle-o fa-5x" aria-hidden="true"></i>
                    <h3>100% Responsive</h3>
                    <!-- Edit Title -->
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                    <!-- Edit description -->
                </div>
            </div>
            <!-- Single Service -->
            <div class="col-md-3 col-sm-6">
                <div class="feature">
                    <i class="fa fa-thumbs-o-up fa-5x" aria-hidden="true"></i>
                    <h3>Retina Ready</h3>
                    <!-- Edit Title -->
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                    <!-- Edit description -->
                </div>
            </div>
            <!-- Single Service -->
            <div class="col-md-3 col-sm-6">
                <div class="feature">
                    <i class="fa fa-line-chart fa-5x" aria-hidden="true"></i>
                    <h3>Analytics</h3>
                    <!-- Edit Title -->
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                    <!-- Edit description -->
                </div>
            </div>
            <!-- Single Service -->
            <div class="col-md-3 col-sm-6">
                <div class="feature">
                    <i class="fa fa-life-ring fa-5x"></i>
                    <h3>Support</h3>
                    <!-- Edit Title -->
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                    <!-- Edit description -->
                </div>
            </div>
        </div>
    </div>
</section>