<section id="clients">
    <div class="container text-center">
        <h2>Clients</h2>
        <!-- Edit Section Title -->
        <p class="sub-title">
            Here are some of the clients I've worked with:
            <!-- Edit -->
        </p>
        <div class="row wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
            <!-- Single Service -->
            <div class="col-md-3 col-sm-6">
                <a href="https://www.vfccu.org/index.html">
                    <img class="client" src="../img/mid_atlantic.png" alt="">
                </a>
            </div>
            <!-- Single Service -->
            <div class="col-md-3 col-sm-6">
                <a href="http://www.mpaa.org/">
                    <img class="client" src="../img/motion.png" alt="">
                </a>
            </div>
            <!-- Single Service -->
            <div class="col-md-3 col-sm-6">
                <a href="https://www.pwc.com/">
                    <img class="client" src="../img/pwc.png" alt="">
                </a>
            </div>
            <!-- Single Service -->
            <div class="col-md-3 col-sm-6">
                <a href="https://essentials.schedulicity.com/">
                    <img class="client" src="../img/schedulicity.png" alt="">
                </a>
            </div>

        </div>
    </div>
</section>