<div id="contact" style="background:url('img/contact-us_one.jpg') no-repeat center center fixed; background-size:cover;">
    <div class="overlay">
        <div class="container text-center">
            <h2>Keep In Touch</h2>
            <p class="sub-title">
                Here you can find me , ask me about anything .Feel free to Contact Me
            </p>
            <div class="row">
                <div class="col-md-9">
                    <form method="POST" action="http://www.selfboardapi.com/mail">
                        <div class="col-md-6">
                            <input type="text" name="name" placeholder="Name" required="" data-alterego="b609d70e-a413-65a7-0dc7-0d2207d42800">
                        </div>
                        <div class="col-md-6">
                            <input type="email" name="email" placeholder="Email" required="" data-alterego="1b597502-4740-244a-84ba-3251390781c3">
                        </div>
                        <div class="col-md-12">
                            <textarea id="message" name="message" placeholder="Your Message"></textarea>
                        </div>
                        <div class="col-md-12">
                            <input type="submit" value="Send" class="btn" id="submitBtn">
                        </div>
                    </form>
                </div>
                <div class="col-md-3 tab">
                    <div class="info col-md-12">
                        <p class="phone">
                            <strong>Phone:</strong> +40 745665397
                            <!-- Edit -->
                        </p>
                    </div>
                    <div class="info col-md-12">
                        <p class="email">
                            <strong>Email:</strong> ovy.istrate@gmail.com
                            <!-- Edit -->
                        </p>
                    </div>
                    <div class="info col-md-12">
                        <p class="address">
                            <span><strong>Address:</strong> Cluj, Cluj-Napoca, Corneliu-Coposu No: 1-3-5</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>