<section id="footer">
    <div class="container text-center">
        <div class="social-media">
            <!-- Edit facebook Link Insteed of href="#" ex href="http://facebook.com/ovy.istrate"-->
            <a href="http://facebook.com/ovy.istrate"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <!-- Edit twitter Link Insteed of href="#" ex href="http://twitter.com/ovidiu_istrate"-->
            <a href="http://twitter.com/ovidiu_istrate"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <!-- Edit youtube Link Insteed of href="#" ex href="http://youtube.com/user/OvyFlip"-->
            <a href="http://youtube.com/user/OvyFlip"><i class="fa fa-youtube" data-wow-delay="1.6s" aria-hidden="true"></i></a>
            <!-- Edit google-plus Link Insteed of href="#" ex href="http://google.com/youraccount"-->
            <a href="https://plus.google.com/107274737750441091406"><i class="fa fa-google-plus" data-wow-delay="2.0s" aria-hidden="true"></i></a>
            <!-- Edit linkedIn Link Insteed of href="#" ex href="http://linkedin.com/in/istrate-ovidiu-5b160399"-->
            <a href="http://linkedin.com/in/istrate-ovidiu-5b160399"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
    </div>
</section>