<section id="footer">
            <div class="container text-center">
                <div class="social-media">
                    <!-- Edit facebook Link Insteed of href="#" ex href="http://facebook.com/youraccount"-->
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <!-- Edit twitter Link Insteed of href="#" ex href="http://twitter.com/youraccount"-->
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <!-- Edit youtube Link Insteed of href="#" ex href="http://youtube.com/youraccount"-->
                    <a href="#"><i class="fa fa-youtube" data-wow-delay="1.6s" aria-hidden="true"></i></a>
                    <!-- Edit google-plus Link Insteed of href="#" ex href="http://google.com/youraccount"-->
                    <a href="#"><i class="fa fa-google-plus" data-wow-delay="2.0s" aria-hidden="true"></i></a>
                    <!-- Edit linkedIn Link Insteed of href="#" ex href="http://linkedin.com/youraccount"-->
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </div>
        </section>