<div id="home" class="demo-1">
            <div id="large-header" class="large-header" style="background-image: url(&quot;img/back_wall.jpg&quot;); height: 511px; display: block;"> <!-- Edit Header Background Image ex url('control/img/image-name.jpg') -->
                <canvas id="demo-canvas" width="1280" height="511"></canvas>
                <div class="table">
                    <div class="table-cell">
                        <div class="container">
                            <p class="wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                Hello, I'm <span>Ovidiu Istrate</span> <!-- Edit -->
                            </p>
                            <h1 class="wow fadeIn" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeIn;"> <span>.NET</span> Web <span>Developer!</span></h1> <!-- Edit  -->
                            <a href="#portfolio" class="smoothScroll wow fadeIn" data-wow-delay="1.2s" style="visibility: visible; animation-delay: 1.2s; animation-name: fadeIn;">See My Work</a> <!-- Edit -->
                        </div>
                    </div>
                </div>
            </div>
        </div>