<section id="portfolio">
            <div class="container text-center">
                <h2>Portfolio</h2>
                <p class="sub-title">
                    Some of My Awesome Previous Work in Web Designing , And front end development <!-- Edit -->
                </p>
                <div class="row wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <!-- Single Portfolio Item -->
                    <div class="col-md-4 col-sm-6">
                        <figure class="effect">
                                <img class="img-responsive" src="img/work-1.jpg" alt="img18"> <!-- Edit Image -->
                                <figcaption>
                                    <h2>First <span>Work</span></h2> <!-- Edit -->
                                    <p>
                                        Lorem Ipsum is simply dummy text of printing. <!-- Edit -->
                                    </p> 
                                    <a href="#">View more</a>
                                </figcaption>			
                        </figure>
                    </div>
                    <!-- Single Portfolio Item -->
                    <div class="col-md-4 col-sm-6">
                        <figure class="effect">
                                <img class="img-responsive" src="img/work-2.jpg" alt="img18"> <!-- Edit Image -->
                                <figcaption>
                                    <h2>Second <span>Work</span></h2> <!-- Edit -->
                                    <p>
                                        Lorem Ipsum is simply dummy text of printing. <!-- Edit -->
                                    </p> 
                                    <a href="#">View more</a>
                                </figcaption>			
                        </figure>
                    </div>
                    <!-- Single Portfolio Item -->
                    <div class="col-md-4 col-sm-6">
                        <figure class="effect">
                                <img class="img-responsive" src="img/work-3.jpg" alt="img18"> <!-- Edit Image -->
                                <figcaption>
                                    <h2>Third <span>Work</span></h2> <!-- Edit -->
                                    <p>
                                        Lorem Ipsum is simply dummy text of printing. <!-- Edit -->
                                    </p> 
                                    <a href="#">View more</a>
                                </figcaption>			
                        </figure>
                    </div>
                    <!-- Single Portfolio Item -->
                    <div class="col-md-4 col-sm-6">
                        <figure class="effect">
                                <img class="img-responsive" src="img/work-4.jpg" alt="img18"> <!-- Edit Image -->
                                <figcaption>
                                    <h2>Fourth <span>Work</span></h2> <!-- Edit -->
                                    <p>
                                        Lorem Ipsum is simply dummy text of printing. <!-- Edit -->
                                    </p> 
                                    <a href="#">View more</a>
                                </figcaption>			
                        </figure>
                    </div>
                    <!-- Single Portfolio Item -->
                    <div class="col-md-4 col-sm-6">
                        <figure class="effect">
                                <img class="img-responsive" src="img/work-5.jpg" alt="img18"> <!-- Edit Image -->
                                <figcaption>
                                    <h2>Fifth <span>Work</span></h2> <!-- Edit -->
                                    <p>
                                        Lorem Ipsum is simply dummy text of printing. <!-- Edit -->
                                    </p> 
                                    <a href="#">View more</a>
                                </figcaption>			
                        </figure>
                    </div>
                    <!-- Single Portfolio Item -->
                    <div class="col-md-4 col-sm-6">
                        <figure class="effect">
                                <img class="img-responsive" src="img/work-6.jpg" alt="img18"> <!-- Edit Image -->
                                <figcaption>
                                    <h2>Sixth <span>Work</span></h2> <!-- Edit -->
                                    <p>
                                        Lorem Ipsum is simply dummy text of printing. <!-- Edit -->
                                    </p> 
                                    <a href="#">View more</a>
                                </figcaption>			
                        </figure>
                    </div>
                </div>
            </div>
        </section>