<section id="portfolio">
    <div class="container text-center">
        <h2>Software Projects</h2>
        <p class="sub-title">
            Here are some types of applications I've been involved.
            <!-- Edit -->
        </p>
        <div class="row wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
            <!-- Single Portfolio Item -->
            <div class="col-md-6 col-sm-6">
                <h4> Finance <span> Software Systems</span></h4>
                <figure class="effect">
                    <img class="img-responsive" src="img/finance_work.png" alt="img18">
                    <!-- Edit Image -->
                    <figcaption>
                        <!-- Edit -->
                        <p>
                            Applicatons responsible for different Tax calculations, account monitoring, invoice generating etc.
                            <!-- Edit -->
                        </p>
                        <a href="#">View more</a>
                    </figcaption>
                </figure>
            </div>
            <!-- Single Portfolio Item -->
            <div class="col-md-6 col-sm-6">
                <h4 class="figure-header">Audit & Reporting <span> Software Systems</span></h4>
                <figure class="effect">
                    <img class="img-responsive" src="img/data_reporting_software.png" alt="img18">
                    <!-- Edit Image -->
                    <figcaption>
                        <!-- Edit -->
                        <p>
                            Systems that could import/export big chunks of data and being able to generate reports based on different criterias.
                            <!-- Edit -->
                        </p>
                        <a href="#">View more</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-6 col-sm-6">
                <h4 class="figure-header">Custom Management & Administration <span>Software Systems</span></h4>
                <figure class="effect">
                    <img class="img-responsive" src="img/custom_management.png" alt="img18">
                    <figcaption>
                        <p>
                            Developed applications able to manage different types of businesses, to be at ease use for the customers.
                        </p>
                        <a href="#">View more</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-6 col-sm-6">
                <h4 class="figure-header"> Employee Evaluation <span> Software Application</span></h4>
                <figure class="effect">
                    <img class="img-responsive" src="img/goal.png" alt="img18">
                    <figcaption>
                        <p>
                            Internal system for registering employee progress during custom set periods of time, registering targets achieved, goals and also feedback from colleagues
                        </p>
                        <a href="#">View more</a>
                    </figcaption>
                </figure>
            </div>

        </div>
    </div>
</section>