<section id="services">
    <div class="container text-center">
        <h2>My Services</h2>
        <p class="sub-title">
            I am offering My Customers very Special Services and Solutions and Here are My main Services.
        </p>
        <div class="row wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
            <div class="col-md-4 col-sm-12">
                <div class="feature">
                    <i class="fa fa-html5 fa-5x" aria-hidden="true"></i>
                    <h3>UI Development / Design</h3>
                    <p>
                        In my career, I had the oportunity to enhance my skills at this level of application development. Worked in creating dynamic/interactive user interfaces on multiple projects for different environments, using the following languages and technologies: HTML5,
                        CSS3, JavaScript, AngularJS, JQuery on the Web Client and the following for Microsoft solutions development: XAML, WPF and WindowsForms for Desktop and Mobile
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="feature">
                    <i class="fa fa-code fa-5x" aria-hidden="true"></i>
                    <h3>Web Development</h3>
                    <!-- Edit Title -->
                    <p>
                        Developed multiple ASP .NET solutions, I've worked with different frameworks of ASP.NET: ASP.NET MVC 4, ASP.NET MVC 5, ASP.NET WebForms and ASP.NET WebApi 2. I prefer the WebApi, from my perspective it offers a clean decoupled solution for multiple clients
                        to interact with it. It's easy to configure/deploy and consume. Also at this point in time, ASP.NET WebApi 2 offers multiple easy strategies to integrate / be integrated in / with different existing systems.
                    </p>
                </div>
            </div>
            <!-- Single Service -->
            <div class="col-md-4 col-sm-12">
                <div class="feature">
                    <i class="fa fa-database fa-5x" aria-hidden="true"></i>
                    <h3>Data Management</h3>
                    <!-- Edit Title -->
                    <p>
                        Most part of the work I've done until now as a software engineer, it was as a backend developer. This included a lot of work around Database Management Systems. I've mostly worked with Microsoft SQL Server (2012, 2014, 2016), but I'm also familiar with
                        MySQL and MongoDb DataBase servers that I've used in small Node.js and Java Web Projects. I prefer using ORM technologies, Entity Framework most of the time, but I also write Transact-SQL in cases where stored procedures and sql
                        functions are prefered.
                    </p>
                    <!-- Edit description -->
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="feature">
                    <i class="fa fa-truck fa-5x" aria-hidden="true"></i>
                    <h3> Application Deployment</h3>
                    <p>
                        Had the responsability to deploy applications on different environments. Used Microsoft Azure as hosting environment for different web applications and also deployed to private servers that required different application configuration settings.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="feature">
                    <i class="fa fa fa-line-chart fa-5x" aria-hidden="true"></i>
                    <h3>Troubleshooting and Optimization</h3>
                    <p>
                        Completed maintenance tasks on relative old projects. With these type of projects I was able to learn how to troubleshoot different issues that come into systems and learned how important are some dev activites when working on a project: Code Review,
                        Code Refactoring and Testing.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="feature">
                    <i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i>
                    <h3>Planning and Documentation</h3>
                    <p>
                        Documenting services and planning application development were some tasks that haven't avoided me. After being involved in multiple gigantic projects, I've learned how important development planning, requirement gathering and documentations can be.

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>